<h2>Methods that were not run</h2><table>
<tr><td>restassured.reqres.TestCasesFile.test_003_patch_request</td></tr>
<tr><td>restassured.reqres.TestCasesFile.test_001_get_request</td></tr>
<tr><td>restassured.reqres.TestCasesFile.test_004_delete_request</td></tr>
</table>