<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>restassured.beers.BeersTestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getAllBeers</td>
<td>regression smoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPagination</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getAllBeersAbv</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getAllBeersBrewedBeforeDate</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>restassured.reqres.TestCasesFile</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_001_get_request</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_003_patch_request</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_004_delete_request</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_002_post_request</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
