<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>BeersTestCases.getAllBeersBrewedBeforeDate()[pri:2, instance:restassured.beers.BeersTestCases@4007f65e]<br/>BeersTestCases.getAllBeers()[pri:1, instance:restassured.beers.BeersTestCases@4007f65e]<br/>BeersTestCases.verifyPagination()[pri:4, instance:restassured.beers.BeersTestCases@4007f65e]<br/>BeersTestCases.getAllBeersAbv()[pri:3, instance:restassured.beers.BeersTestCases@4007f65e]<br/></td></tr>
<tr><td>smoke</td><td>BeersTestCases.getAllBeers()[pri:1, instance:restassured.beers.BeersTestCases@4007f65e]<br/></td></tr>
</table>
