<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80cf92">  <td>21/08/20 11:05:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeersTestCases.getAllBeers()[pri:1, instance:restassured.beers.BeersTestCases@4007f65e]">getAllBeers</td> 
  <td>TestNG-test=Beers Test-1@1872180018</td>   <td></td> </tr>
<tr bgcolor="80cf92">  <td>21/08/20 11:05:32</td>   <td>55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeersTestCases.getAllBeersAbv()[pri:3, instance:restassured.beers.BeersTestCases@4007f65e]">getAllBeersAbv</td> 
  <td>TestNG-test=Beers Test-2@641601676</td>   <td></td> </tr>
<tr bgcolor="80cf92">  <td>21/08/20 11:05:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeersTestCases.getAllBeersBrewedBeforeDate()[pri:2, instance:restassured.beers.BeersTestCases@4007f65e]">getAllBeersBrewedBeforeDate</td> 
  <td>TestNG-test=Beers Test-2@641601676</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>21/08/20 11:05:21</td>   <td>-10432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasesFile.test_001_get_request()[pri:1, instance:restassured.reqres.TestCasesFile@1750fbeb]">test_001_get_request</td> 
  <td>TestNG-test=ReqRes Tests-1@1081209835</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>21/08/20 11:05:21</td>   <td>-10432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasesFile.test_002_post_request()[pri:2, instance:restassured.reqres.TestCasesFile@1750fbeb]">test_002_post_request</td> 
  <td>TestNG-test=ReqRes Tests-2@1156143729</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>21/08/20 11:05:24</td>   <td>-7379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasesFile.test_003_patch_request()[pri:3, instance:restassured.reqres.TestCasesFile@1750fbeb]">test_003_patch_request</td> 
  <td>TestNG-test=ReqRes Tests-2@1156143729</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>21/08/20 11:05:25</td>   <td>-6419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasesFile.test_004_delete_request()[pri:4, instance:restassured.reqres.TestCasesFile@1750fbeb]">test_004_delete_request</td> 
  <td>TestNG-test=ReqRes Tests-1@1081209835</td>   <td></td> </tr>
<tr bgcolor="80cf92">  <td>21/08/20 11:05:32</td>   <td>468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BeersTestCases.verifyPagination()[pri:4, instance:restassured.beers.BeersTestCases@4007f65e]">verifyPagination</td> 
  <td>TestNG-test=Beers Test-1@1872180018</td>   <td></td> </tr>
</table>
